---
exclude: yes
---

$blue: #013170;
$grey: #eeeeee;
$lightGray: #999999;
$darkGrey: #333333;

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

h1, h2 {
	font-family: 'Arimo', sans-serif;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

h1 {
	font-size: 3em;
}

h2 {
	margin-top: 40px;
	font-size: 2em;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
	text-align: justify;
}

.start {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;

	.left {
		background: $blue;
		color: white;
		flex: 1;
		display: flex;
		flex-direction: column;

		.top {
			padding: 5%;
			flex: 3;
			display: flex;
			justify-content: center;
			align-items: center;

			h1 {
				background-image: url({{ "/images/autoforum-froendenberg.jpg" | prepend: site.baseurl }});
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				display: block;
				width: 345px;
				height: 60px;
				text-indent: -9999px;
			}
		}

		nav {
			background: rgba(255, 255, 255, 0.1);
			color: white;
			text-align: center;
			ul {
				padding: 0;
				margin: 0;
			}
			li {
				margin: 0;
				padding: 0;
				display: inline-block;
			}
			a {
				color: white;
				padding: 20px;
				text-decoration: none;
				display: inline-block;
			}
			a:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}

		.bottom {
			background: $grey;
			padding: 5%;
			flex: 1;
			color: #555555;

			a {
				color: #555555;
			}

			.addresses {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				address {
					margin: 20px;
					font-style: normal;
					.phone, .address {
						margin-top: 10px;
					}

					i {
						width: 24px;
					}

					.city, .route {
						padding-left: 24px;
					}
				}
			}
		}
	}

	.right {
		flex: 1;
		position: relative;
		min-width: 280px;

		.button {
			height: 100vh;
			position: absolute;
			background: rgba(0, 0, 0, 0);
			transition: background .3s ease;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 9999;
		}

		.button:hover {
			background: rgba(0, 0, 0, 0.2);
		}

		.button:first-child {
			left: 0;
		}

		.button:last-child {
			right: 0;
		}

		button {
			cursor: pointer;
			background: none;
			border: none;
			background: rgba(0, 0, 0, 0.1);
			display: block;
			height: 48px;
			width: 48px;
			margin: 0 10px;
			outline: none;
			text-align: center;
			border-radius: 50%;

			i {
				margin-top: 2px;
				color: white;
				font-size: 32px;
			}
		}

		.button-prev i {
			margin-right: 5px;
		}

		.button-next i {
			margin-left: 5px;
		}

		.images {
			position: relative;

			.entry {
				background-color: white;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				width: 100%;
				height: 100vh;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				visibility: hidden;
				text-indent: -9999px;
			}

			.entry[active=true] {
				visibility: visible;
			}
		}
	}
}

.normal {
	$barHeight: 60px;

	.addresses {
		background-color: rgba(194,199,198,0.5);
		color: #333333;
		margin-top: 20px;
		padding: 20px 0px;

		a {
			color: #333333;
		}

		.inner {
			max-width: 1000px;
			width: 90%;
			margin: 0 auto;

			address {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				font-style: normal;

				div {
					min-width: 50%;
				}

				i {
					width: 24px;
				}

				.city, .route {
					padding-left: 24px;
				}
			}
		}
	}

	.footer {
		background-color: rgba(194,199,198,1);

		.inner {
			max-width: 1000px;
			width: 90%;
			margin: 0 auto;
			padding: 20px 0;
			color: $darkGrey;
			display: flex;
			justify-content: space-between;

			a {
				color: $darkGrey;
				text-decoration: none;
			}
		}
	}

	.top {
		background: $blue;
		position: fixed;
		height: $barHeight;
		width: 100%;
		display: flex;
		justify-content: space-between;
		top: 0;
		z-index: 999999;

		h1 {
			background-image: url({{ "/images/autoforum-froendenberg.jpg" | prepend: site.baseurl }});
			background-size: 100%;
			display: block;
			width: 345px;
			height: 60px;
			text-indent: -9999px;
		}

		nav {
			background: rgba(255, 255, 255, 0.1);
			color: white;
			text-align: center;
			padding: 20px 0px;
			ul {
				padding: 0;
				margin: 0;
			}
			li {
				margin: 0;
				padding: 0;
				display: inline-block;
			}
			a {
				color: white;
				padding: 20px;
				text-decoration: none;
			}
			a:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}


	.title {
		margin-top: $barHeight;
		padding: 20px 0;
		background-color: rgba(194,199,198,1);
		background-repeat: no-repeat;
		background-position: center right;
		position: relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, rgba(194,199,198,1) 60%, rgba(194,199,198, 0.3));
			z-index: 1;
		}

		.inner {
			position: relative;
			z-index: 2;
			max-width: 1000px;
			width: 90%;
			margin: 0 auto;
			h1 {
				width: 100%;
				color: white;
				text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}
	}

	@media only screen and (max-width: 700px) {
		font-size: 0.8em;
		.top {
			justify-content: center;
			flex-wrap: wrap;
			nav {
				width: 100%;
				position: absolute;
				top: $barHeight;
				background: $blue;
			}
		}
		.title {
			margin-top: $barHeight + 20px;
		}
	}

	.content {
		max-width: 1000px;
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
		padding: 20px 0;
		min-height: 60vh;

		a {
			color: $blue;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		h1 {
			color: $lightGray;
			margin-top: 50px;
			margin-bottom: 50px;
		}

		h2, h3, p {
			color: $darkGrey;
		}

		.inner {

			.entry {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin-bottom: 50px;
			}

			.entry:nth-child(2n) {
				flex-direction: row-reverse;
			}

			.entry:last-child {
				margin-bottom: 0;
			}

			.info {
				background: $grey;
				padding: 20px;
				flex: 2;

				h2 {
					margin-top: 0;
					color: $darkGrey;
				}
			}

			.images {
				flex: 1;

				.image {
					min-width: 280px;
					min-height: 280px;
					background-size: cover;
					background-position: center center;
				}
			}
		}
	}
}
