<ul class="angebote">
{% for post in site.posts %}
{% if post.angebot == true %}
    <li>
        <div class="preis">
            {% if post.preis %}
                <p>{{ post.preis }} <span class="preis_zeichen">€</span></p>
                {% if post.preis_information %}<span class="preis_information">{{ post.preis_information }}</span>{% endif %}
            {% endif %}
        </div>
        <div class="info">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
        </div>
    </li>
{% endif %}
{% endfor %}
</ul>
