<ul class="angebote">
{% for post in site.posts %}
{% if post.angebot == "Ja" %}
    <li>
        <div class="preis">
            {% if post.preis %}
                <p>{{ post.preis }} <span class="preis_zeichen">€</span></p>
                {% if post.preis_information %}<span class="preis_information">{{ post.preis_information }}</span>{% endif %}
            {% endif %}
        </div>
        <div class="info">
            <h3>{{ post.title }}</h3>
            {% if post.von.length > 0 or post.bis.length > 0 %}<p class="zeitraum">Gültig: {% if post.von.length > 0 %}{{ post.von }}{% endif %} {% if post.bis.length > 0 %}bis {{ post.bis }}{% endif %}</p>{% endif %}
            <p>{{ post.content }}</p>
        </div>
    </li>
{% endif %}
{% endfor %}
</ul>