<ul class="angebote">
{% for post in site.posts %}
{% if post.angebot == true %}
    <li>
        <div class="preis">
            {% if post.preis %}
                <p>{{ post.preis }} <span class="preis_zeichen">€</span></p>
                {% if post.preis_information %}<span class="preis_information">{{ post.preis_information }}</span>{% endif %}
            {% endif %}
        </div>
        <div class="info">
            <h3>{{ post.title }}</h3>
            {% if post.von %}
              {% if post.bis %}
                {% if post.von.size > 0 or post.bis.size > 0 %}<p class="zeitraum">Gültig: {% if post.von.size > 0 %}ab {{ post.von }}{% endif %} {% if post.bis.size > 0 %}bis {{ post.bis }}{% endif %}</p>{% endif %}
                <p>{{ post.content }}</p>
              {% endif %}
            {% endif %}
        </div>
    </li>
{% endif %}
{% endfor %}
</ul>
