
<html>
	<head>
		{% include normal_head.html %}
	</head>

	<body class="normal">
		<div class="top">
			<div class="top">
				<a href="{{ site.baseurl }}/"><h1>Autoforum Houck</h1></a>
				<nav>
					<ul>
						{% assign sorted_pages = site.pages | sort: "order" %}
						{% for i in sorted_pages %}
							{% unless i.exclude == true %}
								{% unless i.url == '/feed.xml' %}
									{% unless i.url == '/impressum.html' %}
									{% unless i.url == '/datenschutz.html' %}
										{% unless i.url == '/config-forestryio.yml' %}
										<li active="{% if i.url == page.url %}true{% else %}false{% endif %}"><a href="{{ i.url | prepend:site.baseurl }}">{{ i.title }}</a></li>
										{% endunless %}
										{% endunless %}
									{% endunless %}
								{% endunless %}
							{% endunless %}
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>

		<div class="title" style="background-image:url({{ page.image | prepend: site.baseurl }})">
			<div class="inner">
				<h1>{{ page.title }}</h1>
			</div>
		</div>

		<div class="content">
			{{ page.content | markdownify }}
			<br>
			<br>
			<br>

			{% include angebote.html %}

			<div class="inner">
				{% for post in site.posts %}
					{% if post.posts == page.posts %}
						<a name="{{ post.title | escape }}"></a>
						<div class="entry" mode="{{ i.position }}">
							<div class="info">
								<h2>{{ post.title }}</h2>
								{{ post.content }}
							</div>
							<div class="images">
								{% for y in post.images %}
									<div class="image" style="background-image:url({{ y.path | prepend: site.baseurl }})"></div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
