<html>
	<head>
		{% include normal_head.html %}
	</head>

	<body class="start">
		<div class="left">
			<div class="top">
				<h1>Autoforum Houck</h1>
			</div>

			<nav>
				<ul>
					{% assign sorted_pages = site.pages | sort: "order" %}
					{% for i in sorted_pages %}
						{% unless i.exclude == true %}
							{% unless i.url == '/feed.xml' %}
							<li active="{% if i.url == page.url %}true{% else %}false{% endif %}"><a href="{{ i.url | prepend:site.baseurl }}">{{ i.title }}</a></li>
							{% endunless %}
						{% endunless %}
					{% endfor %}
					<li><a target="_blank" href="{{ page.file | prepend: site.baseurl }}">Angebote</a></li>
				</ul>
			</nav>

			<div class="bottom">
				<div class="addresses">
					<address>
						<h3>{{ page.name_1 }}</h3>
						<p class="opening"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ page.opening_1 }}</p>
						<p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ page.address_1 }}</p>
						<p class="city">{{ page.city_1 }}</p>
						<p class="route"><a target="_blank" href="https://www.google.com/maps/dir/Current+Location/{{ page.address_1 }},{{ page.city_1 }}">Route berechnen</a></p>
						<p class="phone"><i class="fa fa-phone" aria-hidden="true"></i>{{ page.phone_1 }}</p>
						<p class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:{{ page.email_1 }}">{{ page.email_1 }}</a></p>
					</address>
					<address>
						<h3>{{ page.name_2 }}</h3>
						<p class="opening"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ page.opening_2 }}</p>
						<p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ page.address_2 }}</p>
						<p class="city">{{ page.city_2 }}</p>
						<p class="route"><a target="_blank" href="https://www.google.com/maps/dir/Current+Location/{{ page.address_2 }},{{ page.city_2 }}">Route berechnen</a></p>

						<p class="phone"><i class="fa fa-phone" aria-hidden="true"></i>{{ page.phone_2 }}</p>
						<p class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:{{ page.email_2 }}">{{ page.email_2 }}</a></p>
					</address>
				</div>
				<div class="info">{{ page.content }}</div>
			</div>
		</div>
		<div class="right">
			<div class="images" id="slideshow">
				{% for image in page.images %}
					<a target="_blank" href="{{ page.file | prepend: site.baseurl }}" class="entry" style="background-image: url({{ image.path | prepend: site.baseurl }})">
						{{ image.text }}
					</a>
				{% endfor %}
			</div>
			<div class="button button-prev" onclick="javascript:prev()">
				<button><i class="fa fa-caret-left" aria-hidden="true"></i></button>
			</div>
			<div class="button button-next" onclick="javascript:next()">
				<button><i class="fa fa-caret-right" aria-hidden="true"></i></button>
			</div>
		</div>

		<script>
			var slideshow = document.getElementById("slideshow");
var active = 0;
var children = slideshow.children;
var num = children.length - 1;

function set() {
	Object.keys(children).forEach(function(x) {
		var elem = children[x]
		if (x == active) {
			elem.setAttribute('active', true)
		} else {
			elem.removeAttribute('active')
		}
	})
}
set()

function next() {
	if (active < num) {
		++active
	} else {
		active = 0
	}
	set()
}

function prev() {
	if (active > 0) {
		--active
	} else {
		active = num
	}
	set()
}
		</script>
	</body>
</html>
