<html>
	<head>
		{% include normal_head.html %}
	</head>

	<body class="start">
		<div class="left">
			<div class="top">
				<h1>Autoforum Houck</h1>
			</div>

			<nav>
				<ul>
					{% assign sorted_pages = site.pages | sort: "order" %}
					{% for i in sorted_pages %}
						{% unless i.exclude == true %}
							{% unless i.url == '/feed.xml' %}
								{% unless i.url == '/config-forestryio.yml' %}
								<li active="{% if i.url == page.url %}true{% else %}false{% endif %}"><a href="{{ i.url | prepend:site.baseurl }}">{{ i.title }}</a></li>
								{% endunless %}
							{% endunless %}
						{% endunless %}
					{% endfor %}
				</ul>
			</nav>

			<div class="bottom">
				<div class="addresses">
					<address>
						<p class="opening"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ site.opening }}</p>
						<p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ site.address }}</p>
						<p class="city">{{ site.city }}</p>
						<p class="route"><a target="_blank" href="https://www.google.com/maps/dir/Current+Location/{{ site.address }},{{ site.city }}">Route berechnen</a></p>
						<p class="phone"><i class="fa fa-phone" aria-hidden="true"></i>{{ site.phone }}</p>
						<p class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:{{ page.email }}">{{ site.email }}</a></p>
					</address>

					<div id="wkdb-widget"></div><script type="text/javascript" src="https://download.werkenntdenbesten.de/widget-*be5mkU5t9jYvTKc33KGgkl_VyPdWwIO38edfG3fguwE4JnxjbPkhqq44d7WXu4kZmUBXxWKhlLIjXSWhr-fGAiFppJzsERdBoABpUs9HzcxKaIXYxclX8UndiX9yvAx8zEopdSKNPFcKtqfI4YlBr4EbW9QNxBKq8kv8gRCUHNk.js" async></script>
				</div>
				<div class="info">{{ page.content }}</div>
			</div>
		</div>
		<div class="right">
			<div class="images" id="slideshow">
				{% for image in page.images %}
					<a target="_blank" href="{{ page.file | prepend: site.baseurl }}" class="entry" style="background-image: url({{ image.path | prepend: site.baseurl }})">
						{{ image.text }}
					</a>
				{% endfor %}
			</div>
			<div class="button button-prev" onclick="javascript:prev()">
				<button><i class="fa fa-caret-left" aria-hidden="true"></i></button>
			</div>
			<div class="button button-next" onclick="javascript:next()">
				<button><i class="fa fa-caret-right" aria-hidden="true"></i></button>
			</div>
		</div>

		<script>
			var slideshow = document.getElementById("slideshow");
var active = 0;
var children = slideshow.children;
var num = children.length - 1;

function set() {
	Object.keys(children).forEach(function(x) {
		var elem = children[x]
		if (x == active) {
			elem.setAttribute('active', true)
		} else {
			elem.removeAttribute('active')
		}
	})
}
set()

function next() {
	if (active < num) {
		++active
	} else {
		active = 0
	}
	set()
}

function prev() {
	if (active > 0) {
		--active
	} else {
		active = num
	}
	set()
}
		</script>
	</body>
</html>
